/* reset styles */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/*----------- selectors -----------*/


/* color */

.color-fff {
    color: #fff;
}

.color-green {
    color: #003500;
}

.color-yellow {
    color: #FFC107;
}

.color-white {
    color: #B4C8B1;
}


/* background color */

.bg-color-green {
    background-color: #003500;
}

.bg-color-yellow {
    background-color: #FFC107;
}

.bg-color-white {
    background-color: #B4C8B1;
}

.bg-color-oringe {
    background-color: #E46002;
}

.bg-color-green-barken {
    background-color: #327613;
}

.bg-color-green-barken2 {
    background-color: #0A490A;
}

.bg-color-pink {
    background-color: #EF174B;
}


.bg-color-transparent {
    background-color: transparent;
}


/* display styles */

.Dis-inline {
    display: inline;
}

.Dis-block {
    display: block;
}

.Dis-inline-block {
    display: inline-block;
}

.Dis-flex {
    display: flex;
}


/* display-flex-property */

.flex-dir-column {
    flex-direction: column;
}

.justify-content-end {
    justify-content: end;
}

.justify-content-start {
    justify-content: start;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-evenly {
    justify-content: space-evenly;
}

.justify-content-around {
    justify-content: space-around;
}

.align-items-center {
    align-items: center;
}

.align-items-end {
    align-items: end;
}

.align-items-start {
    align-items: start;
}

.gap-05 {
    gap: .5rem;
}

.gap-1 {
    gap: 1rem;
}

.gap-2 {
    gap: 2rem;
}

.gap-3 {
    gap: 3rem;
}

.gap-4 {
    gap: 4rem;
}

.gap-10 {
    gap: 10rem;
}


/* list styles*/

.li-style-type-none {
    list-style-type: none;
}


/* width styles */

.width-auto {
    width: auto;
}

.width-100 {
    width: 100%;
}

.width-80 {
    width: 80%;
}

.width-70 {
    width: 70%;
}

.width-60 {
    width: 60%;
}


.width-45 {
    width: 45%;
}

.width-40 {
    width: 40%;
}

.width-35 {
    width: 35%;
}

.width-30 {
    width: 30%;
}

.width-25 {
    width: 25%;
}

.width-20 {
    width: 23%;
}

.width-15 {
    width: 15%;
}

.width-10 {
    width: 10%;
}



/* height styles */

.height-auto {
    height: auto;
}

.height-100 {
    height: 100%;
}

.height-50 {
    height: 50%;
}

.height-25 {
    height: 25%;
}

/* position styles */

.pos-relative {
    position: relative;
}

.pos-absolute {
    position: absolute;
}

.pos-fixed {
    position: fixed;
}

.top-1 {
    top: 1rem;
}


/* margin */
.M-top-1 {
    margin-top: 1rem;
}

.M-top-2 {
    margin-top: 2rem;
}

.M-top-5 {
    margin-top: 5rem;
}

.M-top-10 {
    margin-top: 10rem;
}

.M-bottom-3 {
    margin-bottom: 3rem;
}

.M-bottom-4 {
    margin-bottom: 4rem;
}

.M-bottom-5 {
    margin-bottom: 5rem;
}

/* font size  */
.font-size-3 {
    font-size: 3rem;
}


/* text styles */

.text-1 {
    font-size: .5rem;
}

.text-2 {
    font-size: 1rem;
}

.text-2-5 {
    font-size: 1.3rem;
}

.text-3 {
    font-size: 1.5rem;
}

.text-4 {
    font-size: 2rem;
}

.text-5 {
    font-size: 2.5rem;
}

.text-6 {
    font-size: 3rem;
}

.text-align-justify {
    text-align: justify;
}

.text-align-center {
    text-align: center;
}

.font-W-500 {
    font-weight: 500;
}

.font-W-600 {
    font-weight: 600;
}




/*------- index styles -------*/

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/*-------------------- header ------------ */

/* mobile header */

.mobileheader {
    display: none;
    position: sticky;
    top: 0;
    z-index: 20;
}

.mobile-nave {
    display: flex;
    width: 0;
    height: 100vh;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 1rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.474);
    transition: all ease .5s;
}

.mobile-nave:target {
    width: 70%;
    opacity: 100;
}

.mobile-nave-head {
    display: flex;
}

.mobile-nave-search {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobile-nave-search input {
    padding: .5rem .5rem .5rem 1.5rem;
    width: 70%;
    height: 100%;
}

.mobile-nave-search select {
    height: 100%;
    width: 20%;
}

.mobile-nave-search select option {
    background-color: #B4C8B1;
    color: #0A490A;
}

.mobile-nave-search>img {
    top: .6rem;
    left: .9rem;
}

.mobile-nave ul {
    display: flex;
    flex-direction: column;
}



/* desktop header */

.header {
    padding: 1rem 0;
    position: sticky;
    top: 0;
    z-index: 100;
}

.search-box {
    height: 35px;
}

.search-box input,
.search-box select {
    font-family: inherit;
    color: inherit;
    border: 2px solid white;
    padding: 0 .5rem;
}

.search-box input {
    padding-left: 3rem !important;
}

.search-box select option {
    color: black;
    background-color: #B4C8B1;
}

.search-box img {
    top: 50%;
    right: 50%;
    left: 1rem;
    transform: translate(-50%, -50%);
}

.profile,
.Wishlist,
.MyCart {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
}




/*------------- main section -----------*/


/*------- baner section */

.baner {
    padding: 10rem 0 5rem 10rem;
}

.baner-text {
    width: 50%;
}

.baner-text h1 {
    font-size: 5rem;
}

.baner-text p {
    font-size: 1.5rem;
    line-height: 1.5;
    text-align: justify;
}

.Daily {
    padding: .7rem 1.2rem;
    border-radius: 1rem;
}

.baner-btn {
    padding: .7rem 1.2rem;
    border-radius: .7rem;
    border: none;
}

.baner-btn a {
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 600;
}

.star-header-box {
    top: 20%;
    left: 40%;
}

.star-header-box span {
    color: #fff;
    font-size: 1.3rem;
    font-weight: 600;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.fruit-header {
    width: 45%;
    right: 0;
    bottom: 0;
}



/*-------- Categories styles */

.Categories-box {
    flex-direction: column;
}

.Categories-header p {
    font-size: 3rem;
    font-weight: 700;
}

.Categories-gallary {
    flex-wrap: wrap;
}

.Categories-gallary-items {
    border-radius: 1rem;
    overflow: hidden;
}

.Categories-gallary-items img {
    height: 100%;
    object-fit: cover;
}

.gallary-items-text {
    bottom: 1rem;
    padding: .5rem;
    flex-direction: column;
    z-index: 10;
}

.gallary-items-text h3 {
    font-size: 2rem;
}

.gallary-items-text p {
    font-size: 1.2rem;
    width: 100%;
}

.gallary-items-text button a {
    font-size: 1rem;
}

.shadow-for-item {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.632);
    top: 0;
    transition: all ease .5s;
}

.Categories-gallary-items:hover .shadow-for-item {
    background-color: rgba(0, 0, 0, 0.393);
}


/*------- card section */

.card-items {
    border: 2px solid #003500;
    border-radius: 1rem;
    padding: 1rem;
}

.card-items>img {
    width: 100%;
    height: 50%;
    object-fit: cover;
}

.card-items .offer-like-icon {
    width: 35px;
    height: 35px;
    top: 20px;
    right: 20px;
}

.card-info {
    margin: 0 1rem;
}

.star {
    color: #FFC107;
}

.size-select {
    border: 2px solid #003500;
    border-radius: 1rem;
    padding: 1rem;
    margin-top: .5rem;
    width: 100%;
    height: 100%;
}

.Pics {
    top: 1.5rem;
    right: 1.5rem;
}

.Quantity-box input {
    padding-inline: 2rem;
}

.plus {
    right: .8rem;
    top: .8rem;
}

.less {
    left: .8rem;
    top: .8rem;
}


/*------- card and list section  */

.border-white {
    border: 2px solid white;
}

.card-list {
    margin: 3rem 0 1rem 0;
}

.card-list li:focus {
    color: #FFC107;
}

.color-initial {
    color: initial;
}

.card-list-direction {
    width: 50px;
    top: 50%;
    filter: drop-shadow(3px 2px 4px white);
}

.card-list-direction-left {
    left: -2rem;
}

.card-list-direction-right {
    right: -2rem;
}


/*------- little Categories section */

.mini-card {
    border-radius: 1rem;
    padding: 1.5rem 3rem .5rem 1rem;
}

.kado {
    width: 200px;
    top: -2.5rem;
    right: -4.5rem;
}

.banana,
.aleksandar {
    width: 170px;
    top: -2.5rem;
    right: -4.5rem;
}

.mali {
    width: 200px;
    top: -2rem;
    right: -3.5rem;
}

.border-black {
    border: 2px solid black;
}


/*---------- secend baner section */

.secend-baner {
    background-color: #2C2A2A8F;
}

.right-baner {
    background-image: url(/assets/image/pexels-clem-onojeghuo-175728\ 1.jpg), linear-gradient(to top, rgba(0, 0, 0, 0.595));
    background-blend-mode: darken;
    width: 49%;
}

.left-baner {
    background-image: url(/assets/image/pexels-clem-onojeghuo-175728\ 1\ \(1\).jpg), linear-gradient(to top, rgba(0, 0, 0, 0.595));
    background-blend-mode: darken;
    width: 49%;
}

.right-baner {
    padding: 5rem 1rem 2rem 10rem;
}

.left-baner {
    padding: 5rem 1rem 2rem 10rem;
}



/*------- Comments and opinions section */

.opinions-box {
    padding-top: 1px;
}

.Comments {
    border: 1px solid #003500;
    border-radius: .5rem;
    padding: .5rem;
}

.Comments-direction-left {
    width: 25px;
    left: -.2rem;
    top: 50%;
}

.Comments-direction-right {
    width: 25px;
    right: -.9rem;
    top: 50%;
    transform: translate(-50%);
}


/*------- Blog and Articles section */

.Blog-Articles-card-item {
    border-radius: .5rem;
    background-color: #fff;
    overflow: hidden;
}

.Blog-Articles-card-item-img {
    border-radius: .5rem;
}

.Blog-Articles-card-item-text {
    padding: 1rem;
}



.Blog-Articles-card-label {
    padding: 5px 20px;
    border-radius: .5rem;
    top: 1rem;
    left: 1rem;
    font-weight: 600;
}



/*---------------- footer section -------*/

.footer-bg-box {
    height: 20rem;
    width: 100%;
    top: -20rem;
    z-index: -1;
}

.footer-input-emile {
    height: 50px;
}

.footer-input-emile input {
    border: 2px solid white;
    padding-left: 1rem;
    width: 100%;
    color: #fff;
}

.footer-input-emile input::placeholder {
    color: white;
}

.footer-input-emile img {
    width: 50px;
    border: 2px solid white;
    background-color: #FFC107;
}

.footer-mark>p {
    font-size: larger;
}

button {
    transition: all ease 1s;
}

button:hover {
    transform: translateY(-4px);
}



/* scroll fexed icon */

.up-scroll {
    width: 50px;
    right: 1rem;
    bottom: 1rem;
    opacity: 30%;
    border: 4px solid #003500;
    border-radius: 100%;
    transition: all ease 1s;
}

.up-scroll:hover {
    opacity: 100%;
}



/* Responsive */


@media (max-width: 700px) {

    .Dis-flex {
        flex-wrap: wrap;
    }

    .width-10 {
        width: 40%;
    }

    .width-20 {
        width: 100%;
    }

    .width-30 {
        width: 100%;
    }

    .width-40 {
        width: 100%;
    }

    .width-45 {
        width: 100%;
    }

    .width-60 {
        width: 100%;
    }

    .header {
        display: none;
    }

    .mobileheader {
        display: flex;
        padding: 1rem;
    }

    .header-target {
        left: 1.5rem;
        top: 30%;
    }

    .baner {
        padding: 2rem 0 5rem 3rem;
    }

    .baner-text h1 {
        font-size: 3rem;
    }

    .baner-text p {
        font-size: 1rem;
    }

    .star-header-box {
        top: 8%;
        left: 70%;
    }

    .baner-text {
        width: 75%;
    }

    .Categories-header p {
        font-size: 1.2rem;
    }

    .baner-btn a {
        font-size: 1rem;
    }

    .gallary-items-text {
        margin: 1rem;
    }

    .card-list-direction {
        display: none;
    }

    .card-info {
        margin: 0rem;
        gap: .5rem;
    }

    .card-info>span:first-child {
        font-size: 1.5rem;
    }

    .card-info>strong {
        font-size: 2rem;
    }

    .star-box {
        font-size: 1.3rem;
    }

    .size-Quantity {
        gap: 1rem;
    }

    .card-list {
        font-size: .6rem;
    }

    .little-Categories {
        justify-content: center;
        margin-top: 5rem;
    }

    .mini-card {
        margin-top: 1rem;
        padding: 1rem 4rem 2rem 2rem;
    }

    .kado {
        top: -3.5rem;
    }

    .Comments-direction-left {
        display: none;
    }

    .Comments-direction-right {
        display: none;
    }

    .right-baner {
        width: 100%;
        padding: 3rem 1rem 2rem 5rem;
    }

    .left-baner {
        width: 100%;
        padding: 3rem 1rem 2rem 5rem;
    }

    .footer-input-emile input {
        width: 80%;
    }

}